main {
    display: flex;
    flex-direction: column;
    margin-inline: var(--space-300);
    margin-block-start: var(--space-400);
    gap: var(--space-300);
}

header {
    text-align: center;

    h2 {
        margin-block-end: var(--space-200);
    }
}

section {
    padding: var(--space-400);
    p {
        margin-block-end: var(--space-400);
        color: var(--grey-400);
    }

    img {
        width: 6.4rem;
        height: 6.4rem;
        margin-left: auto;
    }
}

.supervisor {
    box-shadow: inset 0 4px 0 0 var(--cyan),
    0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.team-builder {
    box-shadow: inset 0 4px 0 0 var(--red),
    0 0.5rem 1rem rgba(0, 0, 0, 0.15);;
}
.karma {
    box-shadow: inset 0 4px 0 0 var(--orange),
    0 0.5rem 1rem rgba(0, 0, 0, 0.15);;
}
.calculator {
    box-shadow: inset 0 4px 0 0 var(--blue),
    0 0.5rem 1rem rgba(0, 0, 0, 0.15);;
}