body {
    background-color: #fafafa;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: var(--space-300);
    margin-block-start: var(--space-400);
    gap: var(--space-300);
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'supervisor'
    'teamBuilder'
    'karma'
    'calculator'
    ;
    gap: var(--space-400);
}

header {
    text-align: center;
}

header h2 {
    margin-block-end: var(--space-200);
}

section {
    padding: var(--space-400);
    width: 35.3rem;
}

section p {
    margin-block-end: var(--space-400);
    color: var(--grey-400);
}

section img {
    width: 6.4rem;
    height: 6.4rem;
    margin-left: auto;
}

.supervisor {
    box-shadow: inset 0 4px 0 0 var(--cyan),
    0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    grid-area: supervisor;
}
.team-builder {
    box-shadow: inset 0 4px 0 0 var(--red),
    0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    grid-area: teamBuilder;
}
.karma {
    box-shadow: inset 0 4px 0 0 var(--orange),
    0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    grid-area: karma;
}
.calculator {
    box-shadow: inset 0 4px 0 0 var(--blue),
    0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    grid-area: calculator;
}

@media (min-width: 768px) {
    .grid-container {
        justify-content: center;
        grid-template-areas: 
        'teamBuilder teamBuilder'
        'supervisor karma'
        'calculator calculator';
    }

    .team-builder {
        justify-self: center;
    }

    .calculator {
        justify-self: center;
    }

    header {
        margin-block-start: var(--space-500);
    }
}

@media (min-width: 1200px) {
    .grid-container {
        align-items: center;
        grid-template-areas: 
        'supervisor teamBuilder calculator'
        'supervisor karma calculator'
        ;
    }
    header {
        margin-block-start: var(--space-500);
    }
}