:root {
    --greay-500: #4d4f62;
    --grey-400: #6a7178;
    --white: #fff;
    --red: #ea5454;
    --cyan: #44d3d2;
    --blue: #549ef2;
    --orange: #fcae4a;

    --space-500: 4rem;
    --space-400: 3.2rem;
    --space-300: 2.4rem;
    --space-200: 1.6rem;
    --space-100: 0.8rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
}

.text-preset-1 {
    font-size: 3.6rem;
    line-height: 1.4;
    letter-spacing: 0.25px;
}

.text-preset-2 {
    font-size: 3.6rem;
    line-height: 1.4;
    letter-spacing: 0.25px;
}

.text-preset-3 {
    font-size: 2rem;
    line-height: 1.3;
}

.text-preset-4 {
    font-size: 1.5rem;
    line-height: 1.4;
}

.text-preset-5 {
    font-size: 1.3rem;
    line-height: 1.6;
}