:root {
    --grey-500: #4d4f62;
    --grey-400: #6a7178;
    --white: #fff;
    --red: #ea5454;
    --cyan: #44d3d2;
    --blue: #549ef2;
    --orange: #fcae4a;

    --ff-family: 'Poppins';

    --fs-1: 3.6rem;
    --fs-2: 2.4rem;
    --fs-3: 2rem;
    --fs-4: 1.5rem;
    --fs-5: 1.3rem;

    --fw-regular: 300;
    --fw-ex-light: 200;
    --fw-semi-bold: 600;

    --lh-1: 1.6;
    --lh-2: 1.4;
    --lh-3: 1.3;

    --ls-1: 0.25px;

    --space-500: 4rem;
    --space-400: 3.2rem;
    --space-300: 2.4rem;
    --space-200: 1.6rem;
    --space-100: 0.8rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
    color: var(--grey-500);
}

.text-preset-1 {
    font-size: var(--fs-2);
    font-weight: var(--fw-semi-bold);
    line-height: var(--lh-2);
    letter-spacing: var(--ls-1);
}

.text-preset-2 {
    font-size: var(--fs-2);
    font-weight: var(--fw-ex-light);
    line-height: var(--lh-2);
    letter-spacing: var(--ls-1);
}

.text-preset-3 {
    font-size: var(--fs-3);
    font-weight: var(--fw-semi-bold);
    line-height: var(--lh-3);
}

.text-preset-4 {
    font-size: var(--fs-4);
    line-height: var(--lh-2);
}

.text-preset-5 {
    font-size: var(--fs-5);
    line-height: var(--lh-1);
}

.mobile-preset-1 {
    font-size: var(--fs-2);
    font-weight: var(--fw-semi-bold);
    line-height: var(--lh-2);
    letter-spacing: var(--ls-1);
}

.mobile-preset-2 {
    font-size: var(--fs-2);
    font-weight: var(--fw-ex-light);
    line-height: var(--lh-2);
    letter-spacing: var(--ls-1);
}

@media (min-width: 768px) {
    .text-preset-1 {
        font-size: var(--fs-1);
        font-weight: var(--fw-semi-bold);
        line-height: var(--lh-2);
        letter-spacing: var(--ls-1);
    }

    .text-preset-2 {
        font-size: var(--fs-1);
        font-weight: var(--fw-ex-light);
        line-height: var(--lh-2);
        letter-spacing: var(--ls-1);
    }
}